<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293109699602-s0n48j7a03903kejippb20dqe6mgp0u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293109699602-s0n48j7a03903kejippb20dqe6mgp0u0</string>
	<key>API_KEY</key>
	<string>AIzaSyDY2M3a83EU44Wh-f3Dyu1RlNa7QVoz1Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>293109699602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-elian</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-elian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293109699602:ios:5e2c58a4a8e396b09634cb</string>
</dict>
</plist>